

/*边框颜色*/

.bd-white {
    border-color: #fff;
}
.bd-light{
    border-color: #f3f3f3;
}
.bd-light-gray {
    border-color: #EFEFEF;
}
.bd-gray{
    border-color: #727272;
}
.bd-muted {
    border-color: #B3B3B3
}
.bd-dark {
    border-color: #1e1e1e
}

.bd-light-danger {
    border-color: #fdead9
}
.bd-danger {
    border-color: #da0e0e
}
.bd-danger.hover:hover{
    border-color: #cb0101;
}
.bd-light-warn {
    border-color: #ffffcd;
}
.bd-warn {
    border-color: #ffc600
}
.bd-warn.hover:hover{
    border-color: #FFD002
}
.bd-order {
    border-color: #ff6402
}
.bd-order.hover:hover{
    border-color: #ff6402
}
.bd-light-sea-green{
    border-color: #18bbab;
}
.bd-success {
    border-color: #95c53e
}
.bd-success.hover:hover{
    border-color: #8FC31F
}
.bd-light-info {
    border-color: #dee7fc
}
.bd-info {
    border-color: #428bca
}
.bd-info.hover:hover{
    border-color: #3881ca;
}
.bd-dodger-blue{
    border-color: #428bca;
}
.bd-link{
    border-color: #0000cc;
}
.bd-link.hover:hover{
    border-color: #0101b9
}


.bg-white {
    background-color: #fff;
}
.bg-light{
    background-color: #f3f3f3;
}
.bg-light-gray {
    background-color: #EFEFEF;
}
.bg-gray{
    background-color: #727272;
}
.bg-muted {
    background-color: #f4f1ea;
}
.bg-dark {
    border-color: #1e1e1e
}
.bg-brown{
    background-color:#9D9633;
}
.bg-light-danger {
    background-color: #fdead9
}
.bg-danger {
    background-color: #da0e0e
}
.bg-danger.hover:hover{
    background-color: #cb0101;
}
.bg-light-warn {
    background-color: #ffffcd;
}
.bg-warn {
    background-color: #ffc600
}
.bg-warn.hover:hover{
    background-color: #FFD002
}
.bg-order {
    background-color: #ff6402
}
.bg-order.hover:hover{
    background-color: #ff6402
}
.bg-light-sea-green{
    background-color: #18bbab;
}
.bg-success {
    background-color: #95c53e
}
.bg-success.hover:hover{
    background-color: #8FC31F
}
.bg-light-info {
    background-color: #dee7fc
}
.bg-info {
    background-color: #428bca
}
.bg-info.hover:hover{
    background-color: #3881ca;
}
.bg-dodger-blue{
    background-color: #428bca;
}
.bg-link{
    background-color: #0000cc;
}
.bg-link.hover:hover{
    background-color: #0101b9
}


/*文字颜色*/

.t-white {
    color: #fff;
}
.t-light{
    color: #f3f3f3;
}
.t-light-gray {
    color: #EFEFEF;
}
.t-gray{
    color: #727272;
}
.t-muted {
    color: #999
}
.t-dark {
    color: #333;
}
.t-mutedLess{
    color: #504F4F
}
.t-light-danger {
    color: #fdead9
}
.t-danger {
    color: #da0e0e
}
.t-danger.hover:hover{
    color: #cb0101;
}
.t-light-warn {
    color: #ffffcd;
}
.t-warn {
    color: #ffc600
}
.t-warn.hover:hover{
    color: #FFD002
}
.t-order {
    color: #ff6402
}
.t-order.hover:hover{
    color: #ff6402
}
.t-light-sea-green{
    color: #18bbab;
}
.t-success {
    color: #95c53e
}
.t-success.hover:hover{
    color: #8FC31F
}
.t-light-info {
    color: #dee7fc
}
.t-info {
    color: #428bca
}
.t-info.hover:hover{
    color: #3881ca;
}
.t-dodger-blue{
    color: #428bca;
}
.t-link{
    color: #0000cc;
}
.t-link.hover:hover{
    color: #0101b9
}
.btn-white {
    background-color: #fff;
    border-color: #ccc;
    color: #000;
}
.btn-light{
    background-color: #f3f3f3;
    border-color: #333;
    color: #727272;
}
.btn-light-gray {
    background-color: #EFEFEF;
    border-color: #333;
    color: #727272;
}
.btn-gray{
    background-color: #727272;
    border-color: #B3B3B3;
    color: #eee;
}
.btn-muted {
    background-color: #B3B3B3;
    border-color: #000;
    color: #eee;
}
.btn-dark {
    background-color: #1e1e1e;
    border-color: #000;
    color: #eee;
}
.btn-light-danger {
    background-color: #fdead9;
    border-color: #cb0101;;
    color: #da0e0e
}
.btn-danger {
    background-color: #cb0101;
    border-color: #da0e0e;
    color:#fff;
}
.btn-light-warn {
    background-color: #ffffcd;
    border-color: #ffc600;
    color: #FFD002;
}
.btn-warn {
    background-color: #ffc600;
    color: #fff;
}

.btn-order {
    background-color: #ff6402;
    border-color:#ff6402;
    color:#fff;
}

.btn-light-sea-green{
    background-color: #18bbab;
    border-color: #5bc0de;
    color:#fff;
}
.btn-success {
    background-color: #95c53e;
    border-color:#8FC31F;
    color:#fff;
}
.btn-light-info {
    background-color: #dee7fc;
    border-color:#3881ca;
    color:#5bc0de;
}
.btn-info {
    background-color: #48B3E2;
    color:#fff;
}
.btn-info.btn-empty{
    background-color: transparent;
    color:#5bc0de;
}
.btn-dodger-blue{
    background-color: #428bca;
    border-color:#0101b9;
    color:#fff;
}

.btn-link{
    background-color: #48b3e2;
    border-color:#48b3e2;
    color:#fff;
}
/*文字hover效果*/
.hr-white:hover {
    color: #fff;
}
.hr-light:hover{
    color: #f3f3f3;
}
.hr-light-gray:hover {
    color: #EFEFEF;
}
.hr-gray:hover{
    color: #727272;
}
.hr-muted:hover {
    color: #B3B3B3
}
.hr-dark:hover {
    color: #1e1e1e
}
.hr-light-danger:hover {
    color: #fdead9
}
.hr-danger:hover {
    color: #da0e0e
}
.hr-light-warn:hover {
    color: #ffffcd;
}
.hr-warn:hover {
    color: #ffc600
}
.hr-order:hover {
    color: #ff6402
}
.hr-light-sea-green:hover{
    color: #18bbab;
}
.hr-success:hover {
    color: #95c53e
}
.hr-light-info:hover {
    color: #dee7fc
}
.hr-info:hover {
    color: #5bc0de
}
.hr-dodger-blue:hover{
    color: #428bca;
}
.hr-link:hover{
    color: #0000cc;
}
.hr-pointer:hover{
    cursor: pointer;
}
body{
    background: #fff;
}
/*tab*/
.tab-wrap .tab-head {height: 0.4rem;margin: 0.1rem 0;line-height: 0.4rem;text-align: center;}
.tab-wrap .tab-head .tab-head-item:first-child{border-left: none;}
.tab-wrap .tab-head .tab-head-item {position: relative;margin-left: -1px;display: inline-block;border-left: 1px solid #e1e1e1;}
.tab-wrap .tab-head .tab-head-item.active {color: #0046ad;}
.tab-wrap .tab-body .tab-body-item {display: none}
.tab-wrap .tab-body .tab-body-item.active {display: block}

/*SELECT*/
.selectWrap{position: relative;}
.selectWrap .select{}
.selectWrap .selectText{border: none;background: none;}
.selectWrap .selectBtn{width: 0.3rem;position: absolute;height: 0.3rem;top: 0px;right: 0.16rem;color: #999;}
.selectWrap .option{width: 100%;border-top: none;left: 0;color: #fff;background: #0046ad;position: absolute;display: none;}
.selectWrap .option p{height: 0.26666666666666666rem;line-height: 0.26666666666666666rem;font-size: 0.14rem;}
.selectWrap .option p:hover{background: #0046ad;color: #fff;}
.selectWrap.active .option{top: 100%;display: block;}

.disabled{
    opacity: 0.3;
}

.dialog-mask{
    position: fixed;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}
.dialog{position:absolute;left:5%;background: #fff;width: 90%;	box-shadow: 0 0.03rem 0.05rem 0 rgba(0,0,0,.5);}
@media (min-width: 640px) {
    .dialog{max-width: 6.3rem;left:50%;margin-left: -3.15rem;}
}