/*--login--*/
body,#main-content{background: url(/public/images/login_bgx.gif);  }
.login_m{width: 553px;margin:0 auto;padding-top:98px;}
.login_logo{text-align:center;margin-bottom: 10px;}
.login_boder{ background: #fff; overflow:hidden;box-shadow: 0 3px 12px rgba(27,31,35,0.15);}
.login_padding{padding: 28px 47px 30px 47px;}
.forgot{
	margin-top:10px;
}
.forgot a{
    text-decoration:underline;
    color: #259cc5;
}
.btn-info {
	color: #ffffff;
	background-color: #3ba4de;
	display: block;
	border-color: #3ea6df;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
	color: #ffffff;
	background-color: #3ba4de;
	border-color: #72bce4;
}
