.search-wrap{
	position:relative;
}
.search-wrap input{
	padding: 0 30px 0 10px;
}
.search-wrap .fa-search{
	position:absolute;
	right: 8px;
	top: 9px;
	font-size: 18px;
}
.search-filter{
	background: #f2f2f2;
	border-radius: 5px;
}
.search-filter-wrap{
	height:0;
	overflow: hidden;
}
.search-filter-wrap.open{
	height: auto;
	overflow: visible;
}
.hover-link{
	text-decoration: underline;
}
#modifyLoginPwd.wrap{
	max-width: 1024px;
}
#modifyLoginPwd .tips{
	color:#999;
	font-size: 12px;
}
.form-group>i{top:0}
.form-group .captcha-code-img{
	top:0
}