.search-wrap{
	position:relative;
}
.search-wrap input{
    padding: 2px 30px 2px 10px;
	width: 100%;
}
.search-wrap .fa-search{
	position:absolute;
	right: 8px;
	top: 9px;
	font-size: 18px;
}
.search-filter{
	background: #f2f2f2;
	border-radius: 5px;
}
.search-filter-wrap{
	height:0;
	overflow: hidden;
}
.search-filter-wrap.open{
	height: auto;
	overflow: visible;
}
.hover-link{
	text-decoration: underline;
}
.label-name{
	display: inline-block;
	width: 150px;
	font-size: 16px;
	color:#999;
}
.fixed-bottom{
	position:fixed;
	bottom:0;
	width:100%;
}