#addStrategyForm .J-scroll{max-height: 170px;overflow: auto}
#addStrategyForm .label-checkbox{display: inline-block;position:relative;}
.fix-wap-5{margin-left:-5px;margin-right:-5px}
.validError .validErrMsg{clear: both;}
.timeSelectClose {font-size: 16px;top:-3px;position:relative}