
/*é‡æž„css*/
h1, h2, h3, h4, h5, h6, div, ul, li, dl, dt, dd, ol, pre, form, fieldset, input, textarea, p, blockquote, th, td, hr, img, select {
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
}
*{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	box-sizing: border-box;
	vertical-align: top;
}
html, body {
	padding: 0;
	margin: 0;
	font-family: 'Microsoft Yahei', "ç´°æ˜Žé«”", tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
	color: #666;
}
body{
	position: relative;
}

ul {
	list-style: none
}

a {
	color: inherit;
	text-decoration: none;
}

a:focus {
	outline: 0
}

a:hover {
	cursor: pointer;
}

em, i {
    font-style: normal
}

img {
	border: 0px;
}

[v-cloak]{
	display:none;
}
a.a-wrap{
	display: block;
}
.ui-slider-content
{
	width: 100%;
}

/*æµ®åŠ¨å¸ƒå±€ å®½åº¦*/
.col:after {
	content: " ";
	display: block;
	clear: both;
}

.col .col1, .col .col2, .col .col3, .col .col4, .col .col5, .col .col6, .col .col7, .col .col8, .col .col9, .col .col10, .col .col11, .col .col12,
.col .col01,.col .col02,.col .col03, .col .col04, .col .col05,.col .col06,.col .col07,.col .col08,.col .col09,.col .col010
 {
	float: left;
	display: inline-block;
	clear: right;
	height:100%
}

.col .col1 {
	width: 8.33%
}

.col .col2 {
	width: 16.66%
}

.col .col3 {
	width: 25%
}

.col .col4 {
	width: 33.33%
}

.col .col5 {
	width: 41.67%
}

.col .col6 {
	width: 50%
}

.col .col7 {
	width: 58.33%
}


.col .col8 {
	width: 66.66%
}

.col .col9 {
	width: 75%
}
.col .col10 {
	width: 83.33%
}

.col .col11 {
	width: 91.66%
}
.col .col01 {
	width: 10%
}
.col .col02 {
	width: 20%
}
.col .col03 {
	width: 30%
}
.col .col04 {
	width: 40%
}
.col .col05 {
	width: 50%
}
.col .col06 {
	width: 60%
}
.col .col07 {
	width: 70%
}
.col .col08 {
	width: 80%
}
.col .col09 {
	width: 90%
}

/*å“åº”å¸ƒå±€ å®½åº¦*/
.fw12 {
	width: 100%;
}

.fw11 {
	width: 91.66666666666666%;
}

.fw10 {
	width: 83.33333333333334%;
}

.fw9 {
	width: 75%;
}

.fw8 {
	width: 66.66666666666666%;
}

.fw7 {
	width: 58.333333333333336%;
}

.fw6 {
	width: 50%;
}

.fw5 {
	width: 41.66666666666667%;
}

.fw4 {
	width: 33.33333333333333%;
}

.fw3 {
	width: 25%;
}

.fw2 {
	width: 16.666666666666664%;
}

.fw1 {
	width: 8.333333333333332%;
}

.fw0 {
	width: 0;
}

.fh100 {
	height: 100%
}
.fh90 {
	height: 90%
}
.fh50 {
	height: 50%
}
/*è¾¹æ¡†*/
.bd {
	border: 1px solid #e1e1e1
}

.bd-no {
	border: 0 !important
}

.bd-no-top {
	border-top: 0;
}

.bd-no-bottom {
	border-bottom: 0;
}

.bd-no-left {
	border-left: 0
}

.bd-no-right {
	border-right: 0
}

.bd-bottom {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #e1e1e1;
}

.bd-top {
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top: 1px solid #e1e1e1;
}
.bd-top-bottom {
	border-top: 1px solid #e1e1e1;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #e1e1e1
}

.bd-left {
	border-top: 0;
	border-bottom: 0;
	border-right: 0;
	border-left: 1px solid #e1e1e1
}

.bd-right {
	border-top: 0;
	border-left: 0;
	border-bottom: 0;
	border-right: 1px solid #e1e1e1
}

.bd-dotted {
	border-style: dotted;
}

.bd-dashed {
	border-style: dashed;
}

.bd-1 {
	border-width: 1px;
}

.bd-2 {
	border-width: 2px;
}

.bd-3 {
	border-width: 0.03rem;
}

.bd-4 {
	border-width: 0.04rem;
}


.bd-radius-per-50 {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-bordder-radius: 50%;
	-o-user-select: 50%;
}
.bd-radius-per-30 {
	border-radius: 30%;
	-moz-border-radius: 30%;
	-webkit-bordder-radius: 30%;
	-o-user-select: 30%;
}
.bd-radius-5 {
	border-radius: 0.05rem;
	-moz-border-radius: 0.05rem;
	-webkit-bordder-radius: 0.05rem;
	-o-user-select: 0.05rem
}

.bd-radius-3 {
	border-radius: 0.03rem;
	-moz-border-radius: 0.03rem;
	-webkit-bordder-radius: 0.03rem;
	-o-user-select: 0.03rem
}

.bd-radius-2 {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-bordder-radius: 2px;
	-o-user-select: 2px;
}

.t-overflow{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space:nowrap;
}
.t-clip{
	text-overflow:clip;
	overflow: hidden;
	white-space:nowrap;
}

/*æ–‡å­—å¯¹é½*/
.vm {
	vertical-align: middle;
}

/*å…·æœ‰ç»§æ‰¿åŠŸèƒ½*/
.tc {
	text-align: center;
}

.tr {
	text-align: right;
}

.tl {
	text-align: left;
}

/*
æ–‡å­—ç²—ç»†
*/

.fb {
	font-weight: 700
}

.fm {
	font-weight: 400
}

/*
æ–‡å­—ç¼©è¿›
*/

.t2 {
	text-indent: 0.32rem;
}

/*
æµ®åŠ¨
*/

.fl {
	float: left;
}

.fr {
	float: right;
}

.clr {
	clear: both;
	zoom: 1;
}
.clear:after{
	content: " ";
	display: block;
	clear: both;
}
/*å±…ä¸­*/

.ct {
	margin-right: auto;
	margin-left: auto;
}

.ct-img {
	vertical-align: middle;
	display: table-cell;
}


/*
*æ˜¾ç¤ºå—æ–¹å¼
*/
.inline-block {
	display: inline-block;
}
.box{
	display: box;
	display: -webkit-box;
	display: -moz-box;
}

.none {
	display: none;
}
.block{
	display: block;
}
.show {
	display: inherit;
}

.hide {
	visibility: hidden;
}

.relative {
	position: relative;
}

.abs {
	position: absolute;
}

.abs-auto {
	position: absolute;
	left: auto;
	top: auto;
}
.abs-right{
	position: absolute;
	left: auto;
	top: 0px;
}
.abs-bottom{
	position: absolute;
	left: 0px;
	top: auto;
}
.scroll {
	overflow: scroll;
}

.scroll-y {
	overflow-y: scroll;
}

.visible {
	overflow: visible;
}

.hidden {
	overflow: hidden;
}

/*
 filter:alpha(opacity=50);
 ie

 opacity
 Chrome   Firefox (Gecko)   Internet Explorer   Opera   Safari (WebKit)
 1.0    1.0 (1.7 or earlier)    9.0             9.0        1.2 
 */

.op0 {
	opacity: 0;
	*filter: alpha(opacity=0); /*ie8 ie7*/
}

.op1 {
	opacity: .1;
	*filter: alpha(opacity=10); /*ie8 ie7*/
}

.op2 {
	opacity: .2;
	*filter: alpha(opacity=20); /*ie8 ie7*/
}

.op3 {
	opacity: .3;
	*filter: alpha(opacity=30); /*ie8 ie7*/
}

.op4 {
	opacity: .4;
	*filter: alpha(opacity=40); /*ie8 ie7*/
}

.op5 {
	opacity: .5;
	*filter: alpha(opacity=50); /*ie8 ie7*/
}

.op6 {
	opacity: .6;
	*filter: alpha(opacity=60); /*ie8 ie7*/
}

.op7 {
	opacity: .7;
	*filter: alpha(opacity=70); /*ie8 ie7*/
}

.op8 {
	opacity: .8;
	*filter: alpha(opacity=80); /*ie8 ie7*/
}

.op9 {
	opacity: .9;
	*filter: alpha(opacity=90); /*ie8 ie7*/
}

.op10 {
	opacity: 1;
	*filter: alpha(opacity=100); /*ie8 ie7*/
}

.shadow-2 {
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, .1);
}

.shadow-5 {
	-moz-box-shadow: 0px 0px 0.05rem rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0px 0px 0.05rem rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 0.05rem rgba(0, 0, 0, .5);
}

.shadow-10 {
	-moz-box-shadow: 0px 0px 0.1rem rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0px 0px 0.1rem rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 0.1rem rgba(0, 0, 0, .5);
}

.shadow-left-bottom {
	-moz-box-shadow: -2px 2px 0.05rem rgba(0, 0, 0, .5);
	-webkit-box-shadow: -2px 2px 0.05rem rgba(0, 0, 0, .5);
	box-shadow: -2px 2px 0.05rem rgba(0, 0, 0, .5);
}

.shadow-bottom {
	-moz-box-shadow: 0px 2px 0.05rem rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0px 2px 0.05rem rgba(0, 0, 0, .5);
	box-shadow: 0px 2px 0.05rem rgba(0, 0, 0, .5);
}

.shadow-right-bottom {
	-moz-box-shadow: 2px 2px 0.05rem rgba(0, 0, 0, .5);
	-webkit-box-shadow: 2px 2px 0.05rem rgba(0, 0, 0, .5);
	box-shadow: 2px 2px 0.05rem rgba(0, 0, 0, .5);
}

/*text-shadow: h-shadow v-shadow blur color;*/
/*æ°´å¹³é˜´å½±çš„ä½ç½®(å¿…éœ€) åž‚ç›´é˜´å½±çš„ä½ç½®(å¿…éœ€) æ¨¡ç³Šçš„è·ç¦»(å¯é€‰) é˜´å½±çš„é¢œè‰²(å¯é€‰)*/
/*Chrome(2.0.158.0 +)  Firefox (Gecko)(3.5 (1.9.1)+) Internet Explorer(10+)   Opera(9.5 +)   Safari (WebKit)(1.1 (100)+)*/

.t-shadow-2 {
	text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

.t-shadow-5 {
	text-shadow: 0px 0px 0.05rem rgba(0, 0, 0, .5);
}

.t-shadow-10 {
	text-shadow: 0px 0px 0.1rem rgba(0, 0, 0, .5);
}

.t-vintage-retro {
	text-transform: uppercase;
	color: #707070;
	text-shadow: 0.05rem 0.05rem 0px #eee, 0.07rem 0.07rem 0px #707070;
}

.t-neon {
	text-transform: uppercase;
	text-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 0.3rem #fff, 0 0 0.4rem #ff00de, 0 0 0.7rem #ff00de, 0 0 0.8rem #ff00de, 0 0 1rem #ff00de, 0 0 1.5rem #ff00de
}

.t-inset {
	text-transform: uppercase;
	color: #222;
	text-shadow: 0px 2px 0.03rem #fff;
}

.t-fire {
	color: #fff;
	text-shadow: 0 0 0.2rem #fefcc9, 0.1rem -0.1rem 0.3rem #feec85, -0.2rem -0.2rem 0.4rem #ffae34, 0.2rem -0.4rem 0.5rem #ec760c, -0.2rem -0.6rem 0.6rem #cd4606, 0 -0.8rem 0.7rem #973716, 0.1rem -0.9rem 0.8rem #451b0e;
}

.z0 {
	z-index: 0;
}

.z1 {
	z-index: 1;
}

.z2 {
	z-index: 2;
}

.z3 {
	z-index: 3;
}

.z4 {
	z-index: 4;
}

.animate-ease{
	-webkit-transition-delay: .1s;
	-o-transition-delay: .1s;
	transition-delay: .1s;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

